.invisible{
    display: none;
}

.title{
    color: #1DE2BA;
}

.bold{
    font-weight: bold;
}

.logos{
    width: 100px;
    height: 100px;
}

.titleDefault{
    color: #1de2ba;
    background-color: #222222;
}

.imgTecnologics{
    width: 300px;
    height: 150px;
}

.image{
    width: 60%;
    height: 50%;
}